html, body{
    margin: 0px;
    background-color: #2c5545;
    color: white;
}

.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 25px;
}

.carta {
    position: relative;
    width: 120px;
    left: 100px;
    margin-left: -50px; 
}

#computadora-cartas, #jugador-cartas{
    height: 200px;
}